body {
	background-color: #fafafa; 
}

.tabs .indicator {
    background-color: teal;
}

.container {
	padding-top: 50px;
	padding-bottom: 50px;
}

.card-image img {
	height: 150px !important;
	width: 150px !important;
}

.card {
	cursor: pointer;
}